// colors
$black: #171717;
$coral: #FD3;
$white: #fff;
$--Background: linear-gradient(180deg, #171717 0%, #292926 100%);
// colors

// fonts

$Epilogue: 'Epilogue', sans-serif;
$SF: 'SF UI Display', sans-serif;
// fonts

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}

// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

body {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}

address {
    font-style: normal;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.header_container {
    max-width: 1491px;
    margin: 0 auto;

}

.main_container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_title {
    color: $black;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 92px;
    letter-spacing: -1px;
    margin-bottom: 25px;
}

.more_link {
    @include flex-center();
    justify-content: flex-end;
    color: #257BFB;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1px;
    margin-bottom: 38px;
}

// global block


// home
.home {
    margin-top: 56px;
    @include flex-center();
    gap: 50px;

    .home_text {
        max-width: 551px;
    }

    h1 {
        color: $black;
        font-size: 74px;
        font-weight: 600;
        line-height: 92px;
        margin-bottom: 60px;
    }

    p {
        max-width: 515px;
        color: #9390A6;
        font-size: 32px;
        font-weight: 400;
        line-height: 47px;
        margin-bottom: 87px;
    }

    .home_btns {
        @include flex-center();
        gap: 35px;
    }

    .home_btn_one {
        color: #000;
        font-size: 22px;
        font-weight: bold;
        line-height: 36px;
        background-color: $coral;
        padding: 20px 45px;
        border-radius: 24px;
        border: transparent;
        @include transition();
        border: 2px solid transparent;

        &:hover {
            border: 2px solid #000;
            background-color: transparent;
        }
    }

    .home_btn_two {
        font-size: 22px;
        font-weight: bold;
        line-height: 36px;
        padding: 20px 45px;
        border-radius: 24px;
        border: transparent;
        @include transition();
        border: 2px solid #9390A6;

        &:hover {
            border: 2px solid #000;
        }
    }
}
// home

// goods
.goods {
    margin-top: 150px;
    
    .goods_swipper {
        @include flex-center();
        position: relative;

        .good_btn {
            position: absolute;
        }
    
        .goods_btn_next {
            right: 0;
        }

        .goods_btn_prev {
            left: 0;
        }

        .swiper-button-disabled {
            opacity: .7;
            cursor: auto;
        }
    }

    .goods_btn_prev,
    .goods_btn_next {
        cursor: pointer;
    }

    .good_card {
        width: 100%;
        padding: 23px 27px 38px 27px;
        border-radius: 28px;
        background: #F6F7F9;

        .card_left {
            margin-bottom: 10px;
            padding: 10px;
            color: #9390A6;
            font-size: 11.086px;
            font-weight: 400;
            line-height: 123%;
            border-radius: 28.407px;
            border: 1px solid #DCE2E8;
        }

        h6 {
            text-align: center;
            margin: 25px 0 5px 0;
            color: $black;
            font-size: 24px;
            font-weight: 600;
            line-height: 123%;
            letter-spacing: -1px;
        }

        p {
            color: #9390A6;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 123%;
            letter-spacing: -1px;
            margin-bottom: 15px;
        }

        h4 {
            text-align: center;
            color: $black;
            font-size: 26px;
            font-weight: 600;
            line-height: 123%;
            letter-spacing: -1px;

            span {
                margin-left: 10px;
            }
        }

        .good_img {
            text-align: center;
            img {
                width: 253px;
            }
        }

    }

}
// goods

// specialists
.specialists {

    .specialists_cards {
        gap: 56px;
        @include flex-center();
    }

    .specialists_card {
        text-align: center;
        flex: 1;
        padding: 44px 10px 51px 10px;
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 14px 34px 0px rgba(36, 43, 50, 0.12);
        @include transition();

        &:hover {
            h6 {
                color: $white;
            }

            h4 {
                color: $white;
            }

            background: var(--Background, linear-gradient(180deg, #171717 0%, #292926 100%));
            box-shadow: 0px 14px 34px 0px rgba(36, 43, 50, 0.12);
        }

        .img_block {
            margin: 0 auto 19px auto;
            width: 75px;
            height: 75px;
            border-radius: 12px;
            @include flex-full-center();
        }

        .one {
            background: #009146;
        }

        .two {
            background: $coral;
        }

        .three {
            background: $black;
        }

        .four {
            background: #8906FD;
        }

        h6 {
            margin-bottom: 7px;
            color: #171717;
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }

        span {
            margin-bottom: 36px;
            color: #9390A6;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }

        h4 {
            color: $black;
            font-size: 26px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }
    }
}
// specialists

// team
.team {
    margin: 150px 0;

    .team_cards {
        @include flex-center();
        gap: 41px;
    }

    .team_card {
        padding: 44px 24px;
        text-align: center;
        flex: 1;
        border-radius: 28px;
        background: #F6F7F9;
        border: 2px solid transparent;
        @include transition();

        &:hover {
            border: 2px solid #F3F7FA;
            background: transparent;
        }

        img {
            height: 226px;
        }

        h6 {
            margin: 33px 0 9px 0;
            color: $black;
            font-family: $Epilogue;
            font-size: 22px;
            font-weight: 700;
            line-height: 100%;
        }

        span {
            color: #6B7277;
            font-size: 18px;
            font-weight: 400;
            line-height: 100%;
        }
    }
}
// team


// import file
@import 'header';
@import 'footer';
@import 'responsive';