// colors
$black: #171717;
$coral: #FD3;
$white: #fff;
$--Background: linear-gradient(180deg, #171717 0%, #292926 100%);
// colors

// fonts

$Epilogue: 'Epilogue', sans-serif;
$SF: 'SF UI Display', sans-serif;
// fonts

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}

// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

body {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}

address {
    font-style: normal;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.header_container {
    max-width: 1491px;
    margin: 0 auto;

}

.main_container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_title {
    color: $black;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 92px;
    letter-spacing: -1px;
    margin-bottom: 25px;
}

.more_link {
    @include flex-center();
    justify-content: flex-end;
    color: #257BFB;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1px;
    margin-bottom: 38px;
}

// global block


// home
.home {
    margin-top: 56px;
    @include flex-center();
    gap: 50px;

    .home_text {
        max-width: 551px;
    }

    h1 {
        color: $black;
        font-size: 74px;
        font-weight: 600;
        line-height: 92px;
        margin-bottom: 60px;
    }

    p {
        max-width: 515px;
        color: #9390A6;
        font-size: 32px;
        font-weight: 400;
        line-height: 47px;
        margin-bottom: 87px;
    }

    .home_btns {
        @include flex-center();
        gap: 35px;
    }

    .home_btn_one {
        color: #000;
        font-size: 22px;
        font-weight: bold;
        line-height: 36px;
        background-color: $coral;
        padding: 20px 45px;
        border-radius: 24px;
        border: transparent;
        @include transition();
        border: 2px solid transparent;

        &:hover {
            border: 2px solid #000;
            background-color: transparent;
        }
    }

    .home_btn_two {
        font-size: 22px;
        font-weight: bold;
        line-height: 36px;
        padding: 20px 45px;
        border-radius: 24px;
        border: transparent;
        @include transition();
        border: 2px solid #9390A6;

        &:hover {
            border: 2px solid #000;
        }
    }
}
// home

// invention
.inventions {

    .inventions_swipper {
        border: 1px solid red;
        position: relative;
        // @include flex-center();

        .inventions_card {
            border-radius: 28px;
            background: #F6F7F9;
            @include transition();
            padding: 30px 30px 24px 30px;

            &:hover {
                background-color: $black;

                a, h3, h5  {
                    color: #F0F0F0;
                }
                
                a {
                    svg {
                        transform: scale(2.5)
                    }
                }
            }
        }

    
        .catalog_btn {
            position: absolute;
        }
    
        .catalog_btn_next {
            right: 0;
        }
    
        .catalog_btn_prev {
            left: 0;
        }
    
        .swiper-button-disabled {
            opacity: .7;
            cursor: auto;
        }


        .inventions_head {
            @include flex-center();
            justify-content: space-between;
            gap: 5px;

            .invention_icon {
                background-color: $coral;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                @include flex-full-center();
            }

            .head_right {
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 4px;
            }

            .progress {
                width: 219px;
                overflow: hidden;
                height: 14px;
                border-radius: 17px;
                border: 2px solid #212529;

                span {
                    height: 16px;
                    width: 100%;
                    background-color: $coral;
                }
            }

            h6 {
                color: #535B61;
                font-size: 16px;
                font-weight: 500;
                line-height: 123%;
                letter-spacing: -1px;
            }

            .head_right_icon {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: $black;
                @include flex-full-center();
            }
        }

        .invention_body {
            margin: 24px 0 27px 0;
            @include flex-center();
            gap: 20px;
        }

        .invention_right {
            display: flex;
            flex-direction: column;
            gap: 24px;

            h5 {
                color: $black;
                font-size: 22px;
                font-weight: 600;
                line-height: 123%;
                letter-spacing: -1px;

                span {
                    display: block;
                    color: #9390A6;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 123%;
                    letter-spacing: -1px;
                }
            }
        }

        h3 {
            color: $black;
            font-size: 24px;
            font-weight: 600;
            line-height: 123%;
            letter-spacing: -1px;
        }

        p {
            margin: 5px 0 6px 0;
            color: #9390A6;
            font-size: 16px;
            font-weight: 400;
            line-height: 123%;
            letter-spacing: -1px;
        }

        a {
            @include flex-center();
            justify-content: end;
            color: $black;
            font-size: 20px;
            font-weight: 500;
            line-height: 123%;

            svg {
                margin-left: 5px;
                padding-left: 2px;
            }
        }


    }
}
// invention

// catalog
.catalog {
    margin: 150px 0;

    .catalog_swipper {
        position: relative;
        @include flex-center();
    }

    .catalog_btn {
        position: absolute;
    }

    .catalog_btn_next {
        right: 0;
    }

    .catalog_btn_prev {
        left: 0;
    }

    .swiper-button-disabled {
        opacity: .7;
        cursor: auto;
    }

    .catalog_card {
        h4 {
            height: 52px;
            margin: 46px 0 20px 0;
            color: $black;
            text-align: center;
            font-size: 26px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }

        ul {
            margin-bottom: 29px;
            li {
                display: flex;
                align-items: end;
                justify-content: space-between;

                p,
                span {
                    white-space: nowrap;
                }

                .line {
                    width: 100%;
                    border-bottom: 1px dashed #E4EAEE;
                }
            }
        }

        a {
            border-radius: 12px;
            background-color: $coral;
            padding: 12px 0;
            width: 100%;
            color: #000;
            text-align: center;
            font-size: 14.44px;
            font-weight: 500;
            line-height: 23.63px;
            @include transition();
            border: 2px solid transparent;

            &:hover {
                background-color: #000;
                color: $coral;
            }
        }
    }
}
// catalog

// goods
.goods {
    margin-top: 150px;

    .goods_swipper {
        @include flex-center();
        position: relative;

        .good_btn {
            position: absolute;
        }
    
        .goods_btn_next {
            right: 0;
        }

        .goods_btn_prev {
            left: 0;
        }

        .swiper-button-disabled {
            opacity: .7;
            cursor: auto;
        }
    }

    .goods_btn_prev,
    .goods_btn_next {
        cursor: pointer;
    }

    .good_card {
        width: 100%;
        padding: 23px 27px 38px 27px;
        border-radius: 28px;
        background: #F6F7F9;
        @include transition();

        .card_left {
            margin-bottom: 10px;
            padding: 10px;
            color: #9390A6;
            font-size: 11.086px;
            font-weight: 400;
            line-height: 123%;
            border-radius: 28.407px;
            border: 1px solid #DCE2E8;
        }

        h6 {
            @include transition();
            text-align: center;
            margin: 25px 0 5px 0;
            color: $black;
            font-size: 24px;
            font-weight: 600;
            line-height: 123%;
            letter-spacing: -1px;
        }

        p {
            color: #9390A6;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 123%;
            letter-spacing: -1px;
            margin-bottom: 15px;
        }

        h4 {
            @include transition();
            text-align: center;
            color: $black;
            font-size: 26px;
            font-weight: 600;
            line-height: 123%;
            letter-spacing: -1px;

            span {
                margin-left: 10px;
            }
        }

        .good_img {
            text-align: center;
            img {
                width: 253px;
            }
        }

        &:hover {
            background: $--Background;

            h6, h4 {
                color: #F0F0F0;
            }
        }

    }

}
// goods

// specialists
.specialists {

    .specialists_cards {
        gap: 56px;
        @include flex-center();
    }

    .specialists_card {
        text-align: center;
        flex: 1;
        padding: 44px 10px 51px 10px;
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 14px 34px 0px rgba(36, 43, 50, 0.12);
        @include transition();

        &:hover {
            h6 {
                color: $white;
            }

            h4 {
                color: $white;
            }

            background: var(--Background, linear-gradient(180deg, #171717 0%, #292926 100%));
            box-shadow: 0px 14px 34px 0px rgba(36, 43, 50, 0.12);
        }

        .img_block {
            margin: 0 auto 19px auto;
            width: 75px;
            height: 75px;
            border-radius: 12px;
            @include flex-full-center();
        }

        .one {
            background: #009146;
        }

        .two {
            background: $coral;
        }

        .three {
            background: $black;
        }

        .four {
            background: #8906FD;
        }

        h6 {
            margin-bottom: 7px;
            color: #171717;
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }

        span {
            margin-bottom: 36px;
            color: #9390A6;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }

        h4 {
            color: $black;
            font-size: 26px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }
    }
}
// specialists

// team
.team {
    margin: 150px 0;

    .team_cards {
        @include flex-center();
        gap: 41px;
    }

    .team_card {
        padding: 44px 24px;
        text-align: center;
        flex: 1;
        border-radius: 28px;
        background: #F6F7F9;
        border: 2px solid transparent;
        @include transition();

        &:hover {
            border: 2px solid #F3F7FA;
            background: transparent;
        }

        img {
            height: 226px;
        }

        h6 {
            margin: 33px 0 9px 0;
            color: $black;
            font-family: $Epilogue;
            font-size: 22px;
            font-weight: 700;
            line-height: 100%;
        }

        span {
            color: #6B7277;
            font-size: 18px;
            font-weight: 400;
            line-height: 100%;
        }
    }
}
// team


// import file
@import 'header';
@import 'footer';
@import 'responsive';