* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

body {
  font-family: "SF UI Display", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

address {
  font-style: normal;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.header_container {
  max-width: 1491px;
  margin: 0 auto;
}

.main_container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.main_title {
  color: #171717;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 92px;
  letter-spacing: -1px;
  margin-bottom: 25px;
}

.more_link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #257BFB;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
  margin-bottom: 38px;
}

.home {
  margin-top: 56px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.home .home_text {
  max-width: 551px;
}
.home h1 {
  color: #171717;
  font-size: 74px;
  font-weight: 600;
  line-height: 92px;
  margin-bottom: 60px;
}
.home p {
  max-width: 515px;
  color: #9390A6;
  font-size: 32px;
  font-weight: 400;
  line-height: 47px;
  margin-bottom: 87px;
}
.home .home_btns {
  display: flex;
  align-items: center;
  gap: 35px;
}
.home .home_btn_one {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  line-height: 36px;
  background-color: #FD3;
  padding: 20px 45px;
  border-radius: 24px;
  border: transparent;
  transition: 0.2s ease;
  border: 2px solid transparent;
}
.home .home_btn_one:hover {
  border: 2px solid #000;
  background-color: transparent;
}
.home .home_btn_two {
  font-size: 22px;
  font-weight: bold;
  line-height: 36px;
  padding: 20px 45px;
  border-radius: 24px;
  border: transparent;
  transition: 0.2s ease;
  border: 2px solid #9390A6;
}
.home .home_btn_two:hover {
  border: 2px solid #000;
}

.inventions .inventions_swipper {
  position: relative;
  display: flex;
  align-items: center;
}
.inventions .inventions_swipper .inventions_card {
  border-radius: 28px;
  background: #F6F7F9;
  transition: 0.2s ease;
  padding: 30px 24px;
}
.inventions .inventions_swipper .inventions_card:hover {
  background-color: #171717;
}
.inventions .inventions_swipper .inventions_card:hover a, .inventions .inventions_swipper .inventions_card:hover h3, .inventions .inventions_swipper .inventions_card:hover h5 {
  color: #F0F0F0;
}
.inventions .inventions_swipper .inventions_card:hover a svg {
  transform: scale(2.5);
}
.inventions .inventions_swipper .invention_btn {
  position: absolute;
}
.inventions .inventions_swipper .inventions_btn_next {
  right: 0;
}
.inventions .inventions_swipper .inventions_btn_prev {
  left: 0;
}
.inventions .inventions_swipper .swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
.inventions .inventions_swipper .inventions_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.inventions .inventions_swipper .inventions_head .invention_icon {
  background-color: #FD3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventions .inventions_swipper .inventions_head .head_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
}
.inventions .inventions_swipper .inventions_head .progress {
  width: 219px;
  overflow: hidden;
  height: 14px;
  border-radius: 17px;
  border: 2px solid #212529;
  display: flex;
  align-items: center;
}
.inventions .inventions_swipper .inventions_head .progress span {
  border-radius: 17px;
  height: 14px;
  width: 100%;
  background-color: #FD3;
}
.inventions .inventions_swipper .inventions_head .progress_two span {
  width: 80%;
}
.inventions .inventions_swipper .inventions_head .progress_three span {
  width: 63%;
}
.inventions .inventions_swipper .inventions_head h6 {
  color: #535B61;
  font-size: 16px;
  font-weight: 500;
  line-height: 123%;
  letter-spacing: -1px;
}
.inventions .inventions_swipper .inventions_head .head_right_icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventions .inventions_swipper .invention_body {
  margin: 24px 0 27px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.inventions .inventions_swipper .invention_body .invention_left img {
  width: 205px;
  height: 205px;
}
.inventions .inventions_swipper .invention_right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inventions .inventions_swipper .invention_right h5 {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
  line-height: 123%;
  letter-spacing: -1px;
}
.inventions .inventions_swipper .invention_right h5 span {
  display: block;
  color: #9390A6;
  font-size: 16px;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: -1px;
}
.inventions .inventions_swipper h3 {
  color: #171717;
  font-size: 24px;
  font-weight: 600;
  line-height: 123%;
  letter-spacing: -1px;
}
.inventions .inventions_swipper p {
  margin: 5px 0 6px 0;
  color: #9390A6;
  font-size: 16px;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: -1px;
}
.inventions .inventions_swipper a {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #171717;
  font-size: 20px;
  font-weight: 500;
  line-height: 123%;
}
.inventions .inventions_swipper a svg {
  margin-left: 5px;
  padding-left: 2px;
}

.catalog {
  margin: 150px 0;
}
.catalog .catalog_swipper {
  position: relative;
  display: flex;
  align-items: center;
}
.catalog .catalog_btn {
  position: absolute;
}
.catalog .catalog_btn_next {
  right: 0;
}
.catalog .catalog_btn_prev {
  left: 0;
}
.catalog .swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
.catalog .catalog_card h4 {
  height: 52px;
  margin: 46px 0 20px 0;
  color: #171717;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
}
.catalog .catalog_card ul {
  margin-bottom: 29px;
}
.catalog .catalog_card ul li {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.catalog .catalog_card ul li p,
.catalog .catalog_card ul li span {
  white-space: nowrap;
}
.catalog .catalog_card ul li .line {
  width: 100%;
  border-bottom: 1px dashed #E4EAEE;
}
.catalog .catalog_card a {
  border-radius: 12px;
  background-color: #FD3;
  padding: 12px 0;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 14.44px;
  font-weight: 500;
  line-height: 23.63px;
  transition: 0.2s ease;
  border: 2px solid transparent;
}
.catalog .catalog_card a:hover {
  background-color: #000;
  color: #FD3;
}

.goods {
  margin-top: 150px;
}
.goods .goods_swipper {
  display: flex;
  align-items: center;
  position: relative;
}
.goods .goods_swipper .good_btn {
  position: absolute;
}
.goods .goods_swipper .goods_btn_next {
  right: 0;
}
.goods .goods_swipper .goods_btn_prev {
  left: 0;
}
.goods .goods_swipper .swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
.goods .goods_btn_prev,
.goods .goods_btn_next {
  cursor: pointer;
}
.goods .good_card {
  width: 100%;
  padding: 23px 27px 38px 27px;
  border-radius: 28px;
  background: #F6F7F9;
  transition: 0.2s ease;
}
.goods .good_card .card_left {
  margin-bottom: 10px;
  padding: 10px;
  color: #9390A6;
  font-size: 11.086px;
  font-weight: 400;
  line-height: 123%;
  border-radius: 28.407px;
  border: 1px solid #DCE2E8;
}
.goods .good_card h6 {
  transition: 0.2s ease;
  text-align: center;
  margin: 25px 0 5px 0;
  color: #171717;
  font-size: 24px;
  font-weight: 600;
  line-height: 123%;
  letter-spacing: -1px;
}
.goods .good_card p {
  color: #9390A6;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
.goods .good_card h4 {
  transition: 0.2s ease;
  text-align: center;
  color: #171717;
  font-size: 26px;
  font-weight: 600;
  line-height: 123%;
  letter-spacing: -1px;
}
.goods .good_card h4 span {
  margin-left: 10px;
}
.goods .good_card .good_img {
  text-align: center;
}
.goods .good_card .good_img img {
  width: 253px;
}
.goods .good_card:hover {
  background: linear-gradient(180deg, #171717 0%, #292926 100%);
}
.goods .good_card:hover h6, .goods .good_card:hover h4 {
  color: #F0F0F0;
}

.specialists .more_link {
  margin-bottom: 0;
}
.specialists .specialists_swipper {
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.specialists .specialists_btn {
  position: absolute;
}
.specialists .specialists_btn_next {
  right: 0;
}
.specialists .specialists_btn_prev {
  left: 0;
}
.specialists .swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
.specialists .specialistsSwiper {
  padding: 30px 15px;
}
.specialists .specialists_card {
  width: 100%;
  text-align: center;
  padding: 44px 10px 51px 10px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 14px 34px 0px rgba(36, 43, 50, 0.12);
  transition: 0.2s ease;
}
.specialists .specialists_card:hover {
  background: var(--Background, linear-gradient(180deg, #171717 0%, #292926 100%));
  box-shadow: 0px 14px 34px 0px rgba(36, 43, 50, 0.12);
}
.specialists .specialists_card:hover h6 {
  color: #fff;
}
.specialists .specialists_card:hover h4 {
  color: #fff;
}
.specialists .specialists_card .img_block {
  margin: 0 auto 19px auto;
  width: 75px;
  height: 75px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.specialists .specialists_card .one {
  background: #009146;
}
.specialists .specialists_card .two {
  background: #FD3;
}
.specialists .specialists_card .three {
  background: #171717;
}
.specialists .specialists_card .four {
  background: #8906FD;
}
.specialists .specialists_card h6 {
  margin-bottom: 7px;
  color: #171717;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
}
.specialists .specialists_card span {
  margin-bottom: 36px;
  color: #9390A6;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
}
.specialists .specialists_card h4 {
  color: #171717;
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
}

.team {
  margin: 150px 0;
}
.team .team_slider {
  display: flex;
  align-items: center;
  position: relative;
}
.team .team_btn {
  position: absolute;
}
.team .team_btn_next {
  right: 0;
}
.team .team_btn_prev {
  left: 0;
}
.team .swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
.team .team_card {
  padding: 44px 24px;
  text-align: center;
  border-radius: 28px;
  background: #F6F7F9;
  border: 2px solid transparent;
  transition: 0.2s ease;
}
.team .team_card:hover {
  border: 2px solid #F3F7FA;
  background: transparent;
}
.team .team_card img {
  height: 226px;
}
.team .team_card h6 {
  margin: 33px 0 9px 0;
  color: #171717;
  font-family: "Epilogue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
}
.team .team_card span {
  color: #6B7277;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.header {
  margin-top: 57px;
}
.header .header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 59px;
}
.header .header_logo img {
  width: 264px;
  height: 88px;
}
.header .nav_link {
  display: flex;
  align-items: center;
  gap: 59px;
}
.header .nav_item a {
  gap: 7px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #171717;
  font-family: "SF UI Display", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  transition: 0.2s ease;
}
.header .nav_item a:hover {
  text-decoration-line: underline;
}
.header .header_registration_btn {
  width: 216px;
  height: 76px;
  color: #FD3;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  border-radius: 24px;
  border: 2px solid #171717;
  background: #171717;
  transition: 0.2s ease;
}
.header .header_registration_btn:hover {
  background-color: transparent;
  color: #171717;
}

.footer .footer_top .main_container {
  padding: 58px 55px 71px 55px;
  border-radius: 28px;
  background: linear-gradient(180deg, #171717 0%, #292926 100%);
}
.footer .footer_top .footer_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}
.footer .footer_top .footer_contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .footer_top .footer_contact a {
  color: #F4F4F4;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}
.footer .footer_top .footer_contact span {
  color: #909090;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}
.footer .footer_top .inventors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer .footer_top .inventors h3 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 92px;
  letter-spacing: -1px;
}
.footer .footer_top .inventors h2 {
  color: #222220;
  font-size: 122.932px;
  font-weight: 600;
  line-height: 100%;
  opacity: 0.43;
}
.footer .footer_top .footer_link {
  display: flex;
  align-items: center;
  gap: 44px;
  margin-bottom: 56px;
}
.footer .footer_top .footer_item a {
  color: #CBCBCB;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  transition: 0.2s ease;
}
.footer .footer_top .footer_item a:hover {
  text-decoration-line: underline;
}
.footer .footer_top h5 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 37px;
}
.footer .footer_top .footer_cards {
  display: flex;
  align-items: stretch;
  gap: 47px;
}
.footer .footer_top .footer_cards .footer_card {
  flex: 3;
  border-radius: 16px;
  padding: 16px;
  background: #1B1B1A;
}
.footer .footer_top .footer_cards .footer_card p {
  color: #AAAEB1;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  border-radius: 16px;
  margin-bottom: 23px;
}
.footer .footer_top .footer_cards .footer_card span {
  color: #AAAEB1;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.18px;
}
.footer .footer_top .footer_cards .more_footer_card {
  border-radius: 16px;
  background: #1B1B1A;
  flex: 1;
  color: #FD3;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer_bottom {
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer .footer_bottom .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer_bottom p {
  color: #292926;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.footer .footer_bottom .footer_network {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer .footer_bottom a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(180deg, #171717 0%, #292926 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */